# this gitignore file is for the storage of my dotfile setup
# and so will be ignoring almost all files.
[A-z]*
.[A-z]*
!.byobu*
!.tmux.conf
!.tmux/.tmux*
!.gitignore*
!.gitconfig
!.netrc
!.hgignorerc
!.bash_aliases
!.bash*
.bash_history
.bash_it
!.filezilla
!.sdirs
!.tmux.conf
!.datrc
!.vimrc
!.zshrc
!.xinputrc
!.tnsrc
!.sshlist
!.screenrc
!.npmrc
!.nvmrc
!.rvmrc
!.netrc
!.mongorc.js
!.jshintrc
!.jshintignore
!.pearrc
!.profile
!.hg*
!.gvimrc
!.sshplus
!.config/i3/
!.config/polybar
